:root {
    --mainColor: #eeeeee;
    --secondaryColor: #fff;
    --tertiaryColor: #eba8a8;

    --buttonShadow: rgba(0, 0, 0, 0.3);
    --buttonBorderColor: #c1c1c1;
    --buttonText: rgb(41, 41, 41);
    
}